<div class="row profile-head">
  <div class="col-md-4">
    <%= image_tag @posts.last.image.url(:medium), class: "profile-img img-center img-fluid" %>
  </div>
  <div class="col-md-8">
    <p class="profile-username"><%= @user.user_name %></p>
    <p><%= @user.first_name %> <%= @user.last_name %></p>
  </div>
</div>
<% @posts.each_slice(3) do |posts| %>
  <div class="row profile-feed">
    <% posts.each do |post| %>
    <div class="col-md-4">
      <%= image_tag post.image.url(:medium), class: "img-fluid" %>
    </div>
    <% end %>
  </div>
<% end %>
