<div class="center-box">
  <h2>New post</h2>

  <%= form_for(@post, multipart: true) do |f| %>
    <div class="field" style="padding-left: 8em;">
      <%= f.file_field :image %>
    </div>
    <div class="field">
      <%= f.text_field :caption, placeholder: 'Image caption' %>
    </div>
    <div class="actions">
      <%= f.submit 'Upload' %>
    </div>
    <div>
      <%= link_to 'Return to photos', posts_path, class: 'button' %>
    </div>
  <% end %>
</div>
